@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER  */

header {
    background-color: #D9D9D9;
    padding: 1rem 0rem;
    font-size: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.w-80 {
    width: 80%;
    margin: auto;
}

nav ul {
    display: flex;
    column-gap: 2.4rem;
    align-items: center;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0E0D0D;
}

header button {
    background-color: #382525;
    color: #FFFFFF;
    padding: 1rem 1.9rem;
    border-radius: 0.7rem;
}

/* HERO SECTION  */

#hero-section {
    background-color: #3F1919;
    color: #FFFFFF;
    padding: 6rem 0rem;
     font-family: "Roboto", sans-serif;
}

#hero-section h1,
p {
    margin-bottom: 1.1rem;
    font-family: "Abel", sans-serif;
}

.center {
    text-align: center;
}

#hero-section button {
    background-color: #E26464;
    border-radius: 0.7rem;
    padding: 1rem 1.9rem;
    color: #FFFFFF;
}

/* Card Grid Section  */

#grid-section {
    background-color: #ffffff;
    padding: 86px 0px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 89px;
}

.card {
    width: 300px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    row-gap: 10px;
    color: #0E0D0D;
}

.card a {
    color: #0E0D0D;
}

.author {
    text-align: right;
}

/* FOOTER  */
footer {
    background-color: #382525;
    color: #000000;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 30px 0px;
}

.footer-row div {
    width: 170px;
    padding: 5px 0px;
}

.footer-row div h3 a {
    color: #000000;
}

.footer-row div h3 {
    margin-bottom: 23px;
}

.newsletter {
    display: flex;
}

.newsletter button input {
    padding: 10px 5px;
}

.copyright {
    background-color: #E26464;
    padding: 10px;
}

.copyright ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    margin: 0;
}

.copyright a {
    color: #000000;
}